[submodule "go"]
    path = go
    url = https://github.com/snowdreams1006/learn-go.git
[submodule "php"]
    path = php
    url = https://github.com/snowdreams1006/learn-php.git
[submodule "python"]
	path = python
	url = https://github.com/snowdreams1006/learn-python.git

